---
import { DEV } from "astro:env/client";
import { getCollection } from "astro:content";
import Rss from "../../icons/Rss.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ArticlePreview from "../../components/ArticlePreview.astro";
const posts = (await getCollection("blog"))
  .filter((e) => (DEV ? true : e.data.draft !== true))
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<BaseLayout title="All blog posts | carter.works">
  <Fragment slot="head">
    <meta
      name="description"
      property="og:description"
      content="Everything fit to print!"
    />
  </Fragment>
  <main>
    <h2 class="text-xl">
      <a
        href="/blog/feed.xml"
        title="RSS feed"
        aria-label="RSS feed"
      >
        <Rss
          label="RSS feed"
          class="inline-block align-middle"
        />
      </a>
      <a href="/blog/">All blog posts</a>
    </h2>
    <ul
      role="list"
      class="space-y-4"
    >
      {
        posts.map((post) => (
          <li role="listitem">
            <ArticlePreview post={post} />
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
