@import "tailwindcss";
@theme {
  /* #region colors */
  --color-sepia: oklch(0.9735 0.026 90.1);
  --color-blue: oklch(0.4818 0.1315 254.79);
  --color-blackish: oklch(25% 0.029 221.9);
  /* #endregion */

  /* System Font Stack—https://github.com/system-fonts/modern-font-stacks */
  /* #region fonts */
  --font-system: system-ui, sans-serif;
  --font-transitional:
    Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  --font-old-style:
    "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
  --font-humanist:
    Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro,
    sans-serif;
  --font-gemoetric-humanist:
    Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
  --font-classical-humanist:
    Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
  --font-neo-grotesque:
    Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
    sans-serif;
  --font-monospace-slab-serif: "Nimbus Mono PS", "Courier New", monospace;
  --font-monospace-code:
    ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  --font-industrial:
    Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
    "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
  --font-rounded-sans:
    ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa, Manjari,
    "Arial Rounded MT", "Arial Rounded MT Bold", Calibri, source-sans-pro,
    sans-serif;
  --font-slab-serif:
    Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif", "Sitka Small",
    serif;
  --font-antique:
    Superclarendon, "Bookman Old Style", "URW Bookman", "URW Bookman L",
    "Georgia Pro", Georgia, serif;
  --font-didone:
    Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L", P052, Sylfaen,
    serif;
  --font-handwritten:
    "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual, cursive;
  --font-emoji:
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* #endregion */
}
@custom-variant theme-2025 {
  &:where([data-theme="2025"] *) {
    @slot;
  }
}
@layer base {
  [data-theme="2025"] {
    h1,
    h2,
    h3,
    h4 {
      font-family: var(--font-didone);
      font-weight: 400;
      margin-block-end: calc(var(--spacer) * 1);
    }
  }

  a,
  a:visited {
    @apply text-inherit no-underline rounded bg-transparent inline-block hover:bg-blackish/10 dark:hover:bg-sepia/20 transition-all;
  }

  img {
    @apply rounded  mx-auto border-2 border-blackish dark:border-sepia;
  }

  /* Remove all animations and transitions for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
@layer components {
  .prose {
    @variant theme-2025 {
      @apply max-w-prose text-pretty space-y-4;
      a {
        @apply underline;
      }
      blockquote {
        @apply border-s-2 border-blackish dark:border-sepia pl-4;
      }
      ul {
        @apply list-disc list-inside;
      }
      ol {
        @apply list-decimal list-inside;
      }
      :is(ul, ol) li :is(ul, ol) li {
        @apply ps-4 list-[circle];
      }
      h1 {
        @apply text-2xl;
      }
      h2 {
        @apply text-xl;
      }
      h3 {
        @apply text-lg;
      }
      h1,
      h2,
      h3 {
        @apply mb-1!;
      }
    }
  }
}
