@layer reset, tokens, visual;

@layer tokens {
  :root {
    --spacer: 0.25rlh;
    --space-xs: calc(var(--spacer) * 0.5);
    --space-sm: calc(var(--spacer) * 1);
    --space-md: calc(var(--spacer) * 1.5);
    --space-lg: calc(var(--spacer) * 2);
    --space-xl: calc(var(--spacer) * 2.5);
    --space-2xl: calc(var(--spacer) * 3);
    --space-3xl: calc(var(--spacer) * 4);

    --font-size: 16px;
    --font-color: light-dark(black, white);
    --font-stack:
      monospace system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji";
  }
}

@layer reset {
  html {
    font-family: var(--font-stack);
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    tab-size: 2;
    line-height: 1.25;
    font-size: var(--font-size);
    box-sizing: border-box;
    padding: var(--space-md);
    color: var(--font-color);
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    min-height: 100svh;
  }

  b,
  strong {
    font-weight: bolder;
  }

  /**
  1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
  2. Correct the odd 'em' font sizing in all browsers.
  */

  code,
  kbd,
  samp,
  pre {
    font-family:
      ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
      monospace; /* 1 */
    font-size: 1em; /* 2 */
  }

  h1,
  h2,
  h3 {
    font-size: 1em;
    text-wrap: balance;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: calc(var(--spacer) * -0.25);
  }

  sup {
    top: calc(var(--spacer) * -1.25);
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
  }

  /**
  Correct the inability to style clickable types in iOS and Safari.
  */

  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }

  summary {
    display: list-item;
  }

  p {
    text-wrap: pretty;
  }

  :target {
    scroll-margin-block: calc(var(--spacer) * 5);
  }
}

@layer visual {
  img,
  p,
  ul,
  section {
    max-width: 60ch;
    height: auto;
  }

  ul {
    padding-inline-start: var(--space-2xl);
  }

  blockquote {
    border-inline-start: 2px solid var(--font-color);
    margin: 0;
    padding-inline-start: var(--space-md);
    margin-inline-start: var(--space-md);
  }
  .stack > * + *,
  .stack > astro-island > * + * {
    margin-block: var(--space-lg);
  }

  rss-feed {
    display: block;
    overflow-y: auto;
    width: inherit;
    scrollbar-gutter: stable;
    height: calc(var(--spacer) * 100);
    > * + * {
      margin-block: var(--space-lg);
    }
  }
}
