---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await getCollection("blog");
---

<style>
	ul {
		list-style: none;
		padding: 0;
		margin-inline-start: -8px;
		display: flex;
		flex-direction: row;
		> li {
			margin-inline-end: auto;
		}
	}

	:global(.content-wrapper) {
		display: grid;
		place-content: center;
		align-items: center;
	}
</style>
<BaseLayout title="👋 I'm Carter.">
	<header>
		<hgroup>
			<h1>👋 I'm Carter.</h1>
			<p>Front-end dev. Father. Young grump. Simple things enjoyer.</p>
		</hgroup>
		<nav>
			<ul>
				<li>
					<a
						href="https://github.com/carterworks"
						title="GitHub"
						aria-label="GitHub"
					>
						GitHub
					</a>
				</li>
				<li>
					<a
						href="https://www.linkedin.com/in/thatcartermcbride/"
						title="LinkedIn"
						aria-label="LinkedIn"
					>
						LinkedIn
					</a>
				</li>
			</ul>
		</nav>
	</header>
	{
		allPosts.length > 0 && (
			<main>
				<ul>
					{allPosts.map(post => (
						<li>
							<a href={`/blog/${post.slug}/`}>{post.data.title}</a>
						</li>
					))}
				</ul>
			</main>
		)
	}
</BaseLayout>
