---
import { getPublishedPosts } from "../lib/blog";
import RssFeed from "../components/RssFeed.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticlePreview from "../components/ArticlePreview.astro";

const recentPosts = await getPublishedPosts();
---

<BaseLayout title="👋 I'm Carter.">
  <Fragment slot="head">
    <meta
      name="description"
      property="og:description"
      content="Front-end dev. Father. Young grump. Simple things enjoyer."
    />
  </Fragment>
  <main class="stack">
    <section>
      <h2>Who?</h2>
      Still figuring things out. Right now: a dad, a tired man, a code plumber on
      the Web, <a href="https://youtu.be/SxdOUGdseq4">a complector</a>, a
      researcher, a homebody, a reader, a eater (not a foodie), and <a
        href="https://churchofjesuschrist.org">a disciple of Christ</a
      >.
    </section>
    <section class="stack">
      <h2>Some things I made</h2>
      <ul role="list">
        <li role="listitem">
          <a href="https://yazzy.carter.works">
            Yazzy, a site to bring reader mode to all the web.
          </a>
        </li>
        <li role="listitem">
          <a href="https://carterworks.github.io/rss-reader/">
            My personal RSS reader
          </a>
        </li>
        <li role="listitem">
          <a href="https://github.com/carterworks/substack-to-epub">
            Substack-to-epub scraper
          </a>
        </li>
        <li role="listitem">
          <a href="/experiments/"> Experiments, what ifs, and prototypes </a>
        </li>
      </ul>
    </section>
    <section class="stack">
      <h2>
        <a href="https://mastodon.social/@literallyacar">Mastodon</a>
      </h2>
      <RssFeed
        url="https://mastodon.social/@literallyacar.rss"
        count={2}
      />
    </section>
    {
      recentPosts.length > 0 && (
        <section class="stack">
          <h2>
            <a href="/blog/">Blog posts</a>
            <a
              href="/blog/feed.xml"
              title="RSS feed"
              aria-label="RSS feed"
            >
              (RSS)
            </a>
          </h2>
          <ul role="list">
            {recentPosts.map((post) => (
              <li role="listitem">
                <ArticlePreview post={post} />
              </li>
            ))}
          </ul>
        </section>
      )
    }
  </main>
</BaseLayout>
