---
import type { BlogPost } from "../lib/blog";
import { formatDate, toISODateString } from "../lib/date";

interface Props {
  post: BlogPost;
}
const { post, ...props }: Props = Astro.props;
const title = post.title || "A short thought";
---

<a
  href={`/blog/${post.slug}/`}
  {...props}
>
  {title}
</a>
<div>
  <time datetime={toISODateString(post.pubDate)}>
    {formatDate(post.pubDate)}
  </time>
</div>
