---
import type { CollectionEntry } from "astro:content";
import { formatDate, toISODateString } from "../lib/date";

interface Props {
  post: CollectionEntry<"blog">;
}
const { post, ...props }: Props = Astro.props;
const title = post.data.title || "A short thought";
---

<a
  href={`/blog/${post.id}/`}
  {...props}
>
  {title}
</a>
<div>
  <time datetime={toISODateString(post.data.pubDate)}>
    {formatDate(post.data.pubDate)}
  </time>
</div>
