---
interface Props {
	class?: string;
	link?: boolean;
	[k: string]: unknown;
}
const { class: extraClasses, link = false, ...props } = Astro.props;
const classes = [
	"border",
	"border-2",
	"py-1",
	"px-6",
	"rounded-lg",
	"transition",
	"bg-transparent",
	"text-blackish",
	"border-blackish",
	"dark:text-sepia",
	"dark:border-sepia",
	"hover:opacity-30",
	"active:opacity-70",
	"underline",
	extraClasses,
];
---
{link && <a class:list={classes} {...props}><slot /></a>}
{!link && <button class:list={classes} {...props}><slot /></button>}
