---
import { getAllTags, getPostsByTag } from "../../../lib/blog";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import ArticlePreview from "../../../components/ArticlePreview.astro";

export async function getStaticPaths() {
  const tags = await getAllTags();
  return tags.map((tag) => ({
    params: { tag },
  }));
}

const { tag } = Astro.params;
const posts = await getPostsByTag(tag as string);
---

<BaseLayout title={`#${tag} blog posts | carter.works`}>
  <Fragment slot="head">
    <meta
      name="description"
      property="og:description"
      content="Everything fit to print!"
    />
  </Fragment>
  <main>
    <h2 class="text-xl">
      #{tag} blog posts
    </h2>
    <ul
      role="list"
      class="space-y-4"
    >
      {
        posts.map((post) => (
          <li role="listitem">
            <ArticlePreview post={post} />
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
