---
import { ClientRouter } from "astro:transitions";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <ClientRouter />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="Carter's Blog"
      href="/blog/atom.xml"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Carter's Blog"
      href="/blog/rss.xml"
    />
    <title>{title}</title>
    <style is:global>
      @layer reset {
        * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
        h1,
        h2,
        h3 {
          font-size: initial;
        }
      }
      @font-face {
        font-family: InterVariable;
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url("/InterVariable.woff2") format("woff2");
      }
      @font-face {
        font-family: InterVariable;
        font-style: italic;
        font-weight: 100 900;
        font-display: swap;
        src: url("/InterVariable-Italic.woff2") format("woff2");
      }
      :root {
        scrollbar-gutter: stable;
      }
      body {
        font-family: "InterVariable", sans-serif;
        font-optical-sizing: auto;
        min-height: 100svh;
        display: grid;
        grid-template:
          [top-gutter-start] 40svh
          [top-gutter-end content-row-start] min-content
          [content-row-end bottom-gutter-start] 1fr
          [bottom-gutter-end] /
          [left-gutter-start] minmax(1rem, auto)
          [left-gutter-end content-col-start] minmax(min-content, 65ch)
          [content-col-end right-gutter-start] minmax(1rem, auto)
          [right-gutter-end];

        > * {
          grid-area: content-row-start / content-col-start / content-row-end /
            content-col-end;
        }
      }
      .stack {
        display: flex;
        flex-direction: column;
        gap: 1lh;
      }
    </style>
    <slot name="head" />
  </head>
  <body>
    <main class="stack">
      <slot />
    </main>
  </body>
</html>
