---
import { ClientRouter } from "astro:transitions";
import NameTag from "../components/NameTag.astro";
interface Props {
  title: string;
  class?: string;
}
const { title, class: className } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <ClientRouter />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="Carter's Blog"
      href="/blog/atom.xml"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Carter's Blog"
      href="/blog/rss.xml"
    />
    <title>{title}</title>
    <style is:global>
      @layer reset {
        *,
        *::before,
        *::after {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
        :where(h1, h2, h3, h4, h5) {
          font-size: initial;
        }
        :where(img, svg, video) {
          max-inline-size: 100%;
          block-size: auto;
        }
        p {
          text-wrap: pretty;
        }
      }
      @font-face {
        font-family: InterVariable;
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url("/InterVariable.woff2") format("woff2");
      }
      @font-face {
        font-family: InterVariable;
        font-style: italic;
        font-weight: 100 900;
        font-display: swap;
        src: url("/InterVariable-Italic.woff2") format("woff2");
      }
      :root {
        --spacer: 0.25lh;
        --size-2xs: calc(var(--spacer) * 0.5);
        --size-xs: calc(var(--spacer) * 1);
        --size-sm: calc(var(--spacer) * 2);
        --size-md: calc(var(--spacer) * 4);
        --size-lg: calc(var(--size-md) * 2);
        --size-xl: calc(var(--size-md) * 4);
        --size-screen: 100svh;
        --size-prose: 65ch;

        scrollbar-gutter: stable;
      }
      body {
        font-family: "InterVariable", sans-serif;
        font-optical-sizing: auto;
        min-height: var(--size-screen);
        display: grid;
        grid-template:
          [top-gutter-start] calc(var(--size-screen) * 0.4)
          [top-gutter-end content-row-start] min-content
          [content-row-end bottom-gutter-start] minmax(var(--size-md), 1fr)
          [bottom-gutter-end] /
          [left-gutter-start] minmax(var(--size-md), auto)
          [left-gutter-end content-col-start] minmax(0, var(--size-prose))
          [content-col-end right-gutter-start] minmax(var(--size-md), auto)
          [right-gutter-end];

        > * {
          grid-area: content-row-start / content-col-start / content-row-end /
            content-col-end;
        }
      }
      .stack > * + * {
        margin-block-start: var(--flow-space, var(--size-md, 1lh));
      }
    </style>
    <slot name="head" />
  </head>
  <body>
    <div class="stack">
      <header>
        <NameTag href="/" />
      </header>
      <main class={className}>
        <slot />
      </main>
    </div>
  </body>
</html>
