---
import BaseLayout from "./BaseLayout.astro";
import { formatDateLong } from "../lib/date";
import type { BlogPost } from "../lib/blog";

interface Props {
  frontmatter: BlogPost;
}

const { frontmatter } = Astro.props;
const pubDateISO = frontmatter.pubDate.toISOString();
const humanFriendlyDate = formatDateLong(frontmatter.pubDate);
---

<BaseLayout title={`${frontmatter.title} | carter.works`}>
  <Fragment slot="head">
    <meta
      property="og:type"
      content="article"
    />
    <meta
      property="og:article:published_time"
      content={pubDateISO}
    />
    <meta
      property="og:article:author"
      content="Carter McBride"
    />
  </Fragment>
  <article class:list={["stack", frontmatter.articleClass]}>
    <header class="stack">
      <h1>
        {frontmatter.draft && "Rough Draft: "}{frontmatter.title ?? "A short thought"}
      </h1>
      <p>
        <time datetime={pubDateISO}>{humanFriendlyDate}</time>
      </p>
    </header>
    <slot />
  </article>
</BaseLayout>
